[Unit]
Description=pagesify server

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/var/www/pagesify
Environment="PORT=9876"
Environment="PAGESIFY_DB_USER=pagesify"
Environment="PAGESIFY_DB_PASS='EugenioCoriniEhEhOhOh'"
User=backend
Group=backend
ExecStart=/usr/bin/npm start >>/home/backend/pagesify/logs/application.log 2>&1
TimeoutSec=600
Restart=on-failure